![NYC Skyline](nyc.jpg)

Welcome to New York City, one of the most-visited cities in the world. There are many Airbnb listings in New York City to meet the high demand for temporary lodging for travelers, which can be anywhere between a few nights to many months. In this project, we will take a closer look at the New York Airbnb market by combining data from multiple file types like `.csv`, `.tsv`, and `.xlsx`.

Recall that **CSV**, **TSV**, and **Excel** files are three common formats for storing data. 
Three files containing data on 2019 Airbnb listings are available to you:

**data/airbnb_price.csv**
This is a CSV file containing data on Airbnb listing prices and locations.
- **`listing_id`**: unique identifier of listing
- **`price`**: nightly listing price in USD
- **`nbhood_full`**: name of borough and neighborhood where listing is located

**data/airbnb_room_type.xlsx**
This is an Excel file containing data on Airbnb listing descriptions and room types.
- **`listing_id`**: unique identifier of listing
- **`description`**: listing description
- **`room_type`**: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments

**data/airbnb_last_review.tsv**
This is a TSV file containing data on Airbnb host names and review dates.
- **`listing_id`**: unique identifier of listing
- **`host_name`**: name of listing host
- **`last_review`**: date when the listing was last reviewed

# INSTRUCTIONS 

As a consultant working for a real estate start-up, you have collected Airbnb listing data from various sources to investigate the short-term rental market in New York. You'll analyze this data to provide insights on private rooms to the real estate company.

What are the dates of the earliest and most recent reviews? Store these values as two separate variables with your preferred names.

How many of the listings are private rooms? Save this into any variable.

What is the average listing price? Round to the nearest penny and save into a variable.

Combine the new variables into one DataFrame called review_dates with four columns in the following order: first_reviewed, last_reviewed, nb_private_rooms, and avg_price

In [75]:
# We've loaded your first package for you! You can add as many cells as you need.
import numpy as np
import pandas as pd

# Begin coding here ...
#import files and save as datframes
airbnb_price_df = pd.read_csv('airbnb_price.csv')
airbnb_last_review_df = pd.read_csv('airbnb_last_review.tsv', sep='\t')

#read in excel file
airbnb_room_type_xls = pd.ExcelFile('airbnb_room_type.xlsx')

#save xls file as dataframe
airbnb_room_type_df = airbnb_room_type_xls.parse(0)

#join all three dataframes into one
airbnb_df = pd.merge(airbnb_price_df, airbnb_last_review_df, on='listing_id')
airbnb_df = pd.merge(airbnb_df, airbnb_room_type_df, on='listing_id')

# preview new dataframe
airbnb_df.head()

,listing_id,price,nbhood_full,host_name,last_review,description,room_type
0,2595,225 dollars,"Manhattan, Midtown",Jennifer,May 21 2019,Skylit Midtown Castle,Entire home/apt
1,3831,89 dollars,"Brooklyn, Clinton Hill",LisaRoxanne,July 05 2019,Cozy Entire Floor of Brownstone,Entire home/apt
2,5099,200 dollars,"Manhattan, Murray Hill",Chris,June 22 2019,Large Cozy 1 BR Apartment In Midtown East,Entire home/apt
3,5178,79 dollars,"Manhattan, Hell's Kitchen",Shunichi,June 24 2019,Large Furnished Room Near B'way,private room
4,5238,150 dollars,"Manhattan, Chinatown",Ben,June 09 2019,Cute & Cozy Lower East Side 1 bdrm,Entire home/apt

In [76]:
airbnb_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25209 entries, 0 to 25208
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   price        25209 non-null  object
 2   nbhood_full  25209 non-null  object
 3   host_name    25201 non-null  object
 4   last_review  25209 non-null  object
 5   description  25199 non-null  object
 6   room_type    25209 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.5+ MB

In [77]:
airbnb_df.head()

,listing_id,price,nbhood_full,host_name,last_review,description,room_type
0,2595,225 dollars,"Manhattan, Midtown",Jennifer,May 21 2019,Skylit Midtown Castle,Entire home/apt
1,3831,89 dollars,"Brooklyn, Clinton Hill",LisaRoxanne,July 05 2019,Cozy Entire Floor of Brownstone,Entire home/apt
2,5099,200 dollars,"Manhattan, Murray Hill",Chris,June 22 2019,Large Cozy 1 BR Apartment In Midtown East,Entire home/apt
3,5178,79 dollars,"Manhattan, Hell's Kitchen",Shunichi,June 24 2019,Large Furnished Room Near B'way,private room
4,5238,150 dollars,"Manhattan, Chinatown",Ben,June 09 2019,Cute & Cozy Lower East Side 1 bdrm,Entire home/apt

In [78]:
# What are the dates of the earliest and most recent reviews?
# Store these values as two separate variables with your preferred names.

#convert last_review column data type to date
airbnb_df['last_review'] = pd.to_datetime(airbnb_df['last_review'], format='%B %d %Y')

#sort by date from latest to earliest
airbnb_df.sort_values('last_review', ascending=False, inplace=True)

#obtain earliest review
earliest_review_date = airbnb_df['last_review'].min()

#obtain latest reviews
latest_review_date = airbnb_df['last_review'].max()

In [79]:
earliest_review_date, latest_review_date

(Timestamp('2019-01-01 00:00:00'), Timestamp('2019-07-09 00:00:00'))

How many of the listings are private rooms?

In [80]:
#check if room_type labels are uniform
print(airbnb_df['room_type'].unique())

['Private room' 'Entire home/apt' 'entire home/apt' 'ENTIRE HOME/APT'
 'private room' 'Shared room' 'PRIVATE ROOM' 'SHARED ROOM' 'shared room']

In [81]:
#make room_type labels uniform 
airbnb_df['room_type'] = airbnb_df['room_type'].str.lower()

print(airbnb_df['room_type'].unique())

['private room' 'entire home/apt' 'shared room']

In [82]:
n_private_rooms = len(airbnb_df[ airbnb_df['room_type'] == "private room"])
n_private_rooms

11356

 aim : What is the average listing price? Round to the nearest penny and save into a variable.

In [83]:
#remove ' dollars' from price labels
avg_listing_price = airbnb_df['price'].str.replace(' dollars', '').astype('float').mean().round(2)
avg_listing_price

141.78

In [86]:
answers = { 'first_reviewed':[earliest_review_date],
       'last_reviewed':[latest_review_date],
       'nb_private_rooms':[n_private_rooms],
       'avg_price':[avg_listing_price]}

review_dates = pd.DataFrame(answers)
print(review_dates)

  first_reviewed last_reviewed  nb_private_rooms  avg_price
0     2019-01-01    2019-07-09             11356     141.78